* {
    box-sizing: border-box;
}

body {
    background-color: #FAF7F7;
    font-family: gibson;
}

/*LOGIN*/
#login header {
    background-color: #EA5045;
    height: 200px;
    position: relative;
    text-align: center;


}

.rounded {
    border-radius: 25px;
    border-style: none;
    box-sizing: content-box;
    width: 290px;
    height: 45px;
    text-align: center;
    margin: 5px;
    color: #EA5045;

}

.login {
    background-color: #EA5045;
    border-radius: 25px;
    width: 290px;
    height: 45px;
    font-weight: bold;
    color: #FAF7F7;

}

.facebook {
    background-color: #FAF7F7;
    border-radius: 25px;
    width: 290px;
    height: 45px;
    border: solid #EA5045;
    font-weight: bold;
    color: #EA5045;

}

#login header img {
    position: absolute;
    bottom: 85px;
    left: 130px;


}

#login main {
    position: relative;
    text-align: center;
    top: 75px;
}

#login main figure {
    margin-top: 100px;
}

#login main nav {
    margin: 10px;
}

.glemtpassword {
    color: black;
    font-size: 12px;
    margin-top: 10px;
}

/*FORSIDE*/
#forside header {
    background-color: #EA5045;
    height: 50px;
    position: relative;
}

.kea_logo1 {
    position: absolute;
    padding: 15px;
}

#forside header nav {
    position: absolute;
    width: 100px;
    text-align: center;

}


.profil {
    padding: 15px;
    right: 5px;
    position: absolute;

}

/*grid*/
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(15px, auto);
    grid-auto-flow: dense;
    padding: 5px;
    text-align: center;
    top: 5px;
}

.grid-item {
    padding: 1rem;
    font-size: 12px;
    font-weight: bold;

    color: #F58E81;
    background-color: #FFFF;
    border-radius: 5px;

    &:nth-child(odd) {
        background-color: #FFFF;
    }
}

.span-2 {
    grid-column-end: span 1;
    grid-row-end: span 3;
}

.span-3 {
    grid-column-end: span 1;
    grid-row-end: span 2;
}

.span-4 {
    grid-column-end: span 3;
    grid-row-end: span 2;
}



/*MENU*/

#menu header {
    background-color: #3F3140;
    text-align: center;

}

#menu main {
    text-align: center;
    background-color: #3F3140;
    margin-top: -20px;
    margin-bottom: -20px;
}


#menu header img {
    margin-top: 30px;
    margin-bottom: 30px;
}



#menu nav {
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #F58E81;
    font-weight: bold;
}

.logud {
    background-color: #F58E81;
    position: absolute;
    width: 385px;
    height: 45px;
    font-weight: bold;
    color: #FAF7F7;
    font-size: 1em;
}




/*Menuknap*/
/*
.hidden {
            display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;


}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;

}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}
*/
