* {
    box-sizing: border-box;
}

body {
    background-color: #FAF7F7;
    font-family: gibson;
    width: 100vw;
    margin: 0;
}



/*LOGIN*/
#login header {
    background-color: #EA5045;
    height: 200px;
    position: relative;
    text-align: center;


}

.rounded {
    border-radius: 25px;
    border-style: none;
    box-sizing: content-box;
    width: 290px;
    height: 45px;
    text-align: center;
    margin: 5px;
    color: #EA5045;

}

.login {
    background-color: #EA5045;
    border-radius: 25px;
    width: 290px;
    height: 45px;
    font-weight: bold;
    color: #FAF7F7;

}

.facebook {
    background-color: #FAF7F7;
    border-radius: 25px;
    width: 290px;
    height: 45px;
    border: solid #EA5045;
    font-weight: bold;
    color: #EA5045;

}

#login header img {
    position: absolute;
    bottom: 85px;
    left: 130px;


}

#login main {
    position: relative;
    text-align: center;
    top: 75px;
}

#login main figure {
    margin-top: 100px;
}

#login main nav {
    margin: 10px;
}

.glemtpassword {
    color: black;
    font-size: 12px;
    margin-top: 10px;
}


/*FORSIDE*/
#forside header {
    background-color: #EA5045;
    width: 100vw;
    height: 10vw;
    position: relative;
}

.kea_logo1 {
    position: absolute;
    padding: 15px;
}

#forside header nav {
    position: absolute;
    width: 100px;
    text-align: center;

}


.profil {
    /*    padding: 17px;*/
    top: 4vw;
    left: 80vw;
    position: absolute;

}

/*grid hvor man kan trykke på afleveringer*/
.container {
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px 125px;
    grid-gap: 10px;
}

.item {
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    font-weight: 600;
    color: #F58E81;

}

.item-10 {
    text-decoration: none;
}

.item-4 {
    grid-column: 1/ span 2;

}

.item-9 {
    grid-column: 2/ span 2;
    grid-row: 4/ span 2;
}


/*Menuknap*/
#menuknap {
    position: relative;
    left: 80vw;
    top: 4vw;
    color: white;
    transform: scale(1.2);

}

.hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;

}

#menuknap {
    display: inline-block;
    z-index: 100;

}

li img {
    width: 40vw;
    position: relative;
    top: 30px;
    text-align: center;
}



#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    background-color: #3F3140;
    text-align: center;
    color: #F58E81;
    font-weight: bold;
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin-top: 0;
    top: 0;


}

#menu li a {

    font-size: 20px;
    text-decoration: none;
    color: #F58E81;

}

#menu li {
    margin-bottom: 60px;
    font-size: 20px;

}

@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

.logud {
    color: white;
    background-color: #EA847C;
    padding: 1vw;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;


}


/*AFLEVERINGER*/



#afleveringer header {

    background-color: #EA5045;
    width: 100vw;
    height: 10vw;
    position: relative;

}

#afleveringer header nav {
    position: absolute;
    width: 100px;
    text-align: center;

}

#afleveringer main h3 {
    left: -20px;

}

#afleveringer h4 {
    color: #EA5045;
}



#afleveringer .box1 {
    position: relative;
    background-color: #F2F1F0;
    padding: 5px;
    font-size: 13px;

}


#afleveringer .box2 {
    flex-wrap: wrap;
    background-color: #F2F1F0;
    padding: 5px;
    font-size: 13px;
    margin-top: 10px;

}


#afleveringer .box1 img {
    position: absolute;
    left: 350px;
    margin-top: -30px;

}

#afleveringer .box2 img {
    position: absolute;
    right: 30px;
    margin-top: -30px;

}

/*DROPDOWN I AFLEVERINGER*/

#dropdown {
    background-color: white;

}

.box2 li {
    list-style-position: outside;
    list-style-type: none;
    border: #DEDCED solid 1px;
    margin-left: -10vw;
    padding: 2rem;

}

.link2 {
    width: 20px;
    position: relative;
    top: 144vw;
}
